* {
    margin: 0; /* Elimina el margen predeterminado de todos los elementos */
    padding: 0; /* Elimina el relleno predeterminado de todos los elementos */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
}
body {
    font-family: Arial, sans-serif; /* Fuente legible para el cuerpo del documento */
    background-color: #e9e7e7e7;/* Fondo claro para el cuerpo del documento */
    color: #000000;/* Color de texto oscuro para mejor legibilidad */
    width: 500px; /* Ancho fijo para el cuerpo del documento */
    margin: 20px auto; /* Centra el cuerpo del documento horizontalmente */
}
div {
    margin: 20px;  /* Agrega espacio entre los contenedores */
    padding: 20px;/* Agrega espacio interno a los contenedores */
    background-color: #747070; /* Fondo  para los contenedores */
    border-radius: 8px; /* Agrega bordes redondeados */
    box-shadow: 0 2px 4px rgb(36, 31, 31); /* Agrega una sombra suave */
   
}
h2 {
    color: #f6f6f6; /* Color verde para los títulos */
    margin-bottom: 10px; /* Espacio debajo de los títulos */
}
p {
    margin-bottom: 10px; /* Espacio debajo de los párrafos */
    line-height: 1; /* Mejora la legibilidad del texto */
}
